<% include ../views/partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-6 budz">
       (BLUEBERRY EXTRACT) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
    <br>
    <div class="col-md-6 budz">
      (HONEY BEE) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
    <br>
    <div class="col-md-6 budz">
      (ANTIMATTER) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
    <br>
    <div class="col-md-6 budz">
      (CLOUDS REST) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
  </div>
</div>
<% include ../views/partials/footer.ejs %>
