<% include ../views/partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-6 budz">
       (BLUEBERRY DREAM) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
    <br>
    <div class="col-md-6 budz">
      (DURBAN POISON) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
    <br>
    <div class="col-md-6 budz">
      (GREEN CRACK) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
    <br>
    <div class="col-md-6 budz">
      (RED ARROW) dfdsfodsfodfjosifphdsfiohdfopiofih'doghdhf;osgf'oh'fofhsd'fh'SDHF'OH KJBFJDBFKJVSFKJVSA VLASLABASBLKVSFLLF
    </div>
  </div>
</div>
<% include ../views/partials/footer.ejs %>
