<% include ../views/partials/header.ejs %>
<nav class="navbar navbar-expand-md" style="background-color: #165b0b;">
   <a class="navbar-brand">J'S Budz</a>
   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/inventory">Inventory</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/ourteam">Our Team</a>
       </li>
     </ul>
   </div>
 </nav>
  <h1>THIS IS THE OURTEAM PAGE</h1>
<% include ../views/partials/footer.ejs %>
